.red-background {
  background-color: #c8012e;
}

.dark-background {
  background-color: #141414;
}

.light-background {
  background-color: #ffffff;
  color: #000000;
}

.body-text-colour {
  color: #dadada;
}

.highlight-text-colour {
  color: #ffc400;
}

a {
  color: #ffc400;
}
