/* For implementing multi-pages in a single page */
section {
  display: none;
}

section:target {
  display: block;
}
/* -------------------------------------- */

/* Header styling */
header {
  display: inline-block;
  width: 100%;
}

.left-nav {
  float: left;
}

.right-nav {
  float: right;
}
/* -------------------------------------- */

/* Remove default styling of body by browsers */
body {
  margin: 0;
  text-align: center;
}
