@import "colours.css";

/* Remove default styling of body by browsers */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-align: center; */

    /* Color scheme */
    /* These need to be here for the multiple page in a single page effect */

    --textcolor: #121212;
    --bgcolor: #141414;
    --highlight: #2749c9;

}

body {
    font-size: 18px;
    font-family: system-ui, sans-serif;
    line-height: 1.4;
    color: var(--textcolor);
    background: var(--bgcolor);
    /* max-width: 64em; */
    /* remove this for a full-width layout */
    margin: 0 auto;
    /* centers the layout */

}

/* For implementing multi-pages in a single page */
section {
    padding: calc(6em + 5vw) 5vw 8vw 5vw;
    /* ! Everything below is needed ! */
    display: none;
    position: absolute;
    top: 0;
    min-height: 100vh;
    width: 100%;
    background: var(--bgcolor);
}

section:target {
    display: block;
}

/* Show #home by default */
section#home {
    display: block;
}

/* -------------------------------------- */

/* Header styling */
header {
    padding: 10px 5vw 5px 5vw;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: space-between;
    width: 100%;
    z-index: 2;

    box-shadow: inset 0px 0px 5px 3px rgba(255, 196, 0, 0.62);
}

header h1 {
    /* Pushes nav to the right */
    flex: 1;
    white-space: nowrap;
    font-size: 1em;
    padding: 0 5vw 0.5em 0;
}

.main-nav a {
    text-decoration: none;
}


.left-nav {}

.right-nav {
    margin-left: auto;
}